flask                                                                                                                                                                
mysql.connector 
pandas
openpyxl
be4
CORS
scikit-learn
numpy