flask                                                                                                                                                                
mysql.connector 
pandas
openpyxl
bs4
CORS
scikit-learn
numpy
flask_cors