<!-- templates/usernames.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styles.css" rel="stylesheet">
    <title>Usernames and IP Addresses</title>
</head>
<body>
    <h1>Moodle users Information</h1>
    {% for userid, informasi in user_data.items() %}
        <div class="user-box">
            <strong>first name:</strong> {{ informasi.firstname }}<br>
            <strong>last name:</strong> {{ informasi.lastname }}<br>
            <strong>user id:</strong> {{ informasi.userid }}<br>
            <strong>Time start:</strong> {{ informasi.timestart }}<br>
            <strong>Time finish:</strong> {{ informasi.timefinish }}<br>
            <strong>score:</strong> {{ informasi.score }}<br>
            <strong>status:</strong> {{ informasi.status }}
        </div>
    {% endfor %}
</body>
</html>
