<!-- templates/usernames.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styles.css" rel="stylesheet">
    <title>Usernames and IP Addresses</title>
</head>
<body>
    <h1>Usernames and Current IP Addresses</h1>
    {% for nama_peserta, informasi in user_data.items() %}
        <div class="user-box {% if informasi.status == 'good' %} good {% else %} warn {% endif %}">
            <strong>Username:</strong> {{ nama_peserta }}<br>
            <strong>Current IP Address:</strong> {{ informasi.IP_address }}<br>
            <strong>Status:</strong> {{ informasi.status }}
        </div>
    {% endfor %}
</body>
</html>
