<!-- templates/usernames.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styles.css" rel="stylesheet">
    <title>Usernames and IP Addresses</title>
</head>
<body>
    <h1>Moodle users Information</h1>
    {% for userid, informasi in user_data.items() %}
        <div class="user-box {% if informasi.status == 'good' %} good {% else %} warn {% endif %}">
            <strong>Username:</strong> {{ informasi.username }}<br>
            <strong>First IP:</strong> {{ informasi.first_IP }}<br>
            <strong>Last IP:</strong> {{ informasi.last_IP }}<br>
            <strong>Time created:</strong> {{ informasi.timecreated }}<br>
            <strong>Time modified:</strong> {{ informasi.timemodified }}<br>
            <strong>Status:</strong> {{ informasi.status }}
        </div>
    {% endfor %}
</body>
</html>
